body {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 17px;
    justify-content: center;
    text-align: justify;

    background-color: var(--body-bg-color);
    color: var(--body-text-color);
}

.en {               /* Por defecto lo ponemos en inglés. */
    display:inline;
}

.es {
    display:none;
}


/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        BARRA DE NAVEGACION.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav button {
    float: left;
    width: 5% auto;
    background-color: white;
    color: black;
    text-align: center;
    margin: 5px;
    padding: 14px 16px;
    text-decoration: none;
    border: 3px solid #444;
}


/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        HOME.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


.profile-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid grey;
    margin: 20px;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
}

.profile-description {
    justify-content: center;
    align-items: center;
    margin-right:50px;
}

.profile-description p {
    margin: 20px;
}

.profile-description h1 {
    text-align: center;
    margin: 20px;
}



/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ABOUT ME.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.education-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    text-decoration: none;
    border: 2px solid grey;
    margin: 20px;
}

.formal-education {
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 5%;
    border: 2px grey solid;
}

#versant1, #versant2 {
    width: 100%;
}

.career-progress {
    padding: 5%;
    margin:2%;
    border: 2px grey solid; 
}

.career-progress table {
    width: 100%;
    border-collapse: collapse;
}

.career-progress th, td {
    border: 1px solid #dddddd;
    padding: 0.1%;
    text-align: left;
}

.career-progress th {

    background-color:#1a1a1a;
    color: #cccccc;
    /*background-color: #f2f2f2;*/
}

.career-progress progress{
    display: block; /* Hace que la barra de progreso sea un bloque para que pueda centrarse */
    margin: 0 auto; /* Centra horizontalmente la barra de progreso */
    width: 80%;
    height:50px;
}

